.screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 6;
  overflow: scroll;
}

.modal {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 70%;
  height: auto;
  background-color: #fff;
}

.modal > img {
  height: auto;
  margin: 40px 0px 40px 0px;
}

.modal > p {
  font-family: 'Architects Daughter', sans-serif;
  padding-bottom: 20px;
  line-height: 30px;
  text-align: center;
}

.modal > p > a {
  text-decoration: none;
  color: rgb(230, 17, 140);
}

.modal-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #000;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .modal {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .modal {
    width: 100%;
  }
}
