.image-card {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 30px;
  cursor: pointer;
}

.image-card:hover {
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.19), 0 12px 12px rgba(0, 0, 0, 0.23);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.19), 0 12px 12px rgba(0, 0, 0, 0.23);
  -webkit-filter: brightness(0.8);
  filter: brightness(0.5);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.image-card > img {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px 0px -7px 0px;
}

.image-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.8);
}

.image-error-text {
  padding: 20px;
  font-size: 12px;
  text-align: center;
  font-family: 'Architects Daughter', sans-serif;
}

.ripple-loader {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.ripple-loader div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: ripple-loader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ripple-loader div:nth-child(2) {
  animation-delay: -0.8s;
}
@keyframes ripple-loader {
  0% {
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
