.search-bar {
  width: 300px;
}

.search-bar > form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 3px solid rgb(17, 230, 148);
  border-right: 0px;
}

.search-bar > form > input {
  flex-grow: 1;
  height: 25px;
  width: 25px;
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 18px;
}

.search-bar > form > button {
  display: flex;
  height: 25px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border: 0px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(17, 230, 148);
}

@media (max-width: 440px) {
  .search-bar {
    width: 250px;
  }
}

@media (max-width: 380px) {
  .search-bar {
    width: 200px;
  }
}
