.image-grid-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.image-grid-column {
  -webkit-box-flex: 33%;
  -ms-flex: 33%;
  flex: 33%;
  max-width: 33%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
  .image-grid-column {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .image-grid-column {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
